
/* Header styles */
.link {
  color: #3498db;
  text-decoration: none;
}

/* Home container */
.home {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input[type=file] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

input[type=submit] {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Files container */
.files p {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.files span {
  font-weight: bold;
}
.files a {
  color: #3498db;
  text-decoration: none;
}